*{
margin: 0px;
font-family: 'inter';
/* padding: 0px; */
 }

#titulo-menusuperior{
padding-left: 50px;
padding-top: 50px;
}

#texto-menusuperior{
 font-weight: 500;

/* size: 20px; */

padding-bottom: 100px;
padding-top: 20px;
margin-left: 50px;
}

#menu-superior{
  background-color: #303030;
  color: aliceblue;
}

#barrasecundaria{
background-color: #EAECE5;
display: grid;
grid-auto-flow: column;
padding: 50px;
columns: auto;
}

#fotodecore{
  width: 300px;
  margin: 50px 0px 50px 0px; 
}

#textoimagem{
   display: grid;
  grid-auto-flow:column ;
  margin-top: 150px; 
}

#tituloarquiteto{
  color: #000000;
  margin-top: 120px;
  margin-left: 50px;
}

#textoarquiteto{
 padding-top: 50px;
 font-size: 19px; 
 margin-left: 50px;
}

#formulario{
background-color: #303030;
text-align: center;
}

#titulo-formulario{
font-size: 20px;
margin: 25px;
padding-top: 50px;
color: #ffffff;
}

button:hover{
  background-color: #ff8c00;
  color: #F9F9F9;
  transform: translateY(-7px);
  box-shadow: 0px 15px 20px #05103081;
  transition-duration: 0.5s;
 }

button{
  background-color: #C07212;
  height: 40px;
  width: 250px;
  color: #EAECE5;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 50px;
  font-weight: bolder;
  cursor: pointer;
  }

input{
  width: 300px;
  height: 40px;
  background-color: #EAECE5;
  margin: 15px;
  border: 0px;
  border-radius: 5px;
  padding-left: 10px;
}